.notification-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffd700;
  color: #000;
  text-align: center;
  padding: 10px;
  z-index: 1000;

  p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }

  a {
    color: #022c43;
    text-decoration: underline;
    font-weight: bold;

    &:hover {
      color: #115173;
    }
  }
}
